{% extends 'layout/topbar.html' %}
{% load static %}
{% load global %}
{% load article %}

{% block title %}{% site_name %} · 首页{% endblock %}

{% block style %}

{% endblock %}

{% block content %}
<div class="jumbotron jumbotron-fluid p-4">
  <div class="container">
  <div class="row">
            <div class="col-md-2 my-3">
                <img src="{{ 'avatar'|logo }}" class="rounded mx-auto d-block" style="width: 110px;">
            </div>
            <div class="col-md-10 my-3 text-center text-sm-left text-md-left">
                <h2 class="mb-3 font-weight-normal">{% author %}</h2>
                <h6 class="mb-2 font-weight-normal text-secondary">{% signature %}</h6>
                <h6 class="mb-0 font-weight-normal text-secondary">文章 <span class="h4 text-dark">{{ data.article_count }}</span> 篇 · 照片 <span class="h4 text-dark">{{ data.picture_count }}</span> 张</h6>
            </div>
        </div>
  </div>
</div>
<div style="min-height:600px">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-12">
                <div class="border rounded p-3 mb-3">
                    <h6 class="font-weight-normal mb-2 text-dark">分类</h6>
                    <ul class="m-0 p-0" style="list-style: none;">
                        {% for item in data.sort %}
                        <li>
                            <a class="align-items-center d-flex font-weight-normal justify-content-between list-group-item list-group-item-action px-2 py-1 rounded" href="/?sort={{ item.0.0 }}">{{ item.0.0 }}<span class="badge badge-secondary badge-pill">{{ item.1 }}</span></a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-md-9 col-12">
                {% if data.query %}
                <div class="mb-3">
                    <h4 class="text-dark mb-3">共<span class="text-info">{{ data.article_curr_count }}</span>篇包含"{{ data.query }}"的文章</h4>
                </div>
                {% endif %}
                 <!-- 搜索 -->
                <form class="d-flex form-inline justify-content-between flex-nowrap mb-3" method="get">
                    <input class="flex-grow-1 form-control mr-2" type="search" placeholder="搜文章标题、内容" name="query" aria-label="Search">
                    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
                </form>
                <ul class="list-group list-group-flush">
                    {% for article in data.article %}
                    
                    <li class="list-group-item px-lg-0 border-top">
                        <h5 class="mb-2 py-1 text-truncate"><a href="{% url 'article_detail' article.pk %}">{{ article.title }}</a></h5>
                        <p class="mb-2 text-truncate text-secondary">{{ article.abstract }}</p>
                        <div>
                            {% for item in article.tags|toLst %}
                            <a class="topic" href="javascript:;">{{ item }}</a>
                            {% endfor %}
                        </div>
                        <div class="d-flex text-secondary">
                            <div class="mr-3"><i class="fa fa-circle" style="color: {{ article.sort|color }}"></i> {{ article.sort }}</div>
                            <div class="mr-3 "><i class="fa fa-clock-o"></i> {{ article.create_time }}</div>
                        </div>
                    </li>
                    
                    {% endfor %}
                </ul>
                <!--分页-->
                <nav aria-label="Page navigation example" class="d-flex justify-content-center">
                    <ul class="pagination my-4">
                    {{ data.page_html|safe }}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}

{% endblock %}