{% extends 'layout/admin.html' %}
{% load static %}

{% block title %}后台管理 · 设置{% endblock %}

{% block style %}

{% endblock %}

{% block content %}
<div class="dashboard">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">关于</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <a href="javascript:document.form.submit();" type="button" class="btn btn-sm btn-outline-secondary">
                <i class="fa fa-upload"></i>
                保存修改
            </a>
        </div>
    </div>
    <form name="form" action="" method="post">
        {% csrf_token %}
        {% for field in form %}
        <div class="mb-3">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
            <span class="text-danger">{{ field.errors.0 }}</span>
        </div>
        {% endfor %}
    </form>
</div>
{% endblock %}

{% block script %}

{% endblock %}